[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==1.9.0"
sklearn = "==0.0"
numpy = "==1.19.3"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.11"
